* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

.banner {
  min-height: 100vh;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-head {
  color: #272727;
  font-family: Lato;
  font-size: 65px;
  font-weight: 800;
}

.banner-p {
  width: 700px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
}

.banner-button {
  padding: 15px 25px;
  gap: 10px;
  border-radius: 7px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  width: 150px;
  height: 55px;
  border: none;
}
.banner-button:hover {
  background: #fff;
  color: #e55473;
  border: 2px solid #e55473;
  cursor: pointer;
}

.banner-img {
  width: 450px;
  margin-bottom: -92px;
  position: relative;
}

.section1 {
  text-align: center;
  min-width: 100vh;
  margin: auto;
}

.section1-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-bottom: 120px;
}

.section1-img {
  width: 230px;
}

.section1-head {
  margin-top: 140px;
  margin-bottom: 20px;
  font-size: 40px;
  color: #272727;
  font-family: Lato;
  font-weight: 800;
}

.section1-p {
  font-size: 20px;
  margin-bottom: 80px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-weight: 400;
  font-size: 21px;
}

.section1-photo-caption {
  text-decoration: underline;
  font-size: 20px;
  width: 150px;
  margin-left: 75px;
  margin-top: 20px;
}
.image1 {
  position: relative;
  width: 300px;
  height: 370px;
  border-radius: 50% 50% 0 0;
  background: rgba(167, 33, 98, 0.15);
}

.section1-img {
  margin-top: 52px;
  position: relative;
}
.image2 {
  position: relative;
  width: 300px;
  height: 370px;
  border-radius: 50% 50% 0 0;
  background: rgba(5, 151, 160, 0.15);
}

.section2-img {
  margin-top: 52px;
  position: relative;
  height: 318px;
  width: 280px;
}
.section2-photo-caption {
  text-decoration: underline;
  font-size: 20px;
  width: 150px;
  margin-left: 75px;
  margin-top: 20px;
}
.image3 {
  position: relative;
  width: 300px;
  height: 370px;
  border-radius: 50% 50% 0 0;
  background: rgba(71, 125, 17, 0.15);
}

.section3-img {
  margin-top: 52px;
  position: relative;
  width: 250px;
  height: 318px;
}
.section3-photo-caption {
  text-decoration: underline;
  font-size: 20px;
  width: 150px;
  margin-left: 80px;
  margin-top: 20px;
}
.cardpart1 p {
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 19px;
  font-weight: 600;
}
.card {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 150px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 20px;
}
.off {
  color: #e55473;
}
.section2 {
  display: flex;
  text-align: center;
  gap: 100px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  justify-content: center;
  align-items: center;
  padding: 60px;
}
.section2left h1 {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.section2left p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 40px;
}
.blog1 h3,
p {
  padding: 5px;
}
.blog1 p {
  color: #272727;
}
.blog1 a {
  padding: 5px;
  text-decoration: none;
  font-weight: 700;
  color: #e55473;
}

.blog1 {
  height: 450px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
}
.blog1 img {
  width: 100%;
}
.allblogs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
}
.totalblog {
  min-height: 100vh;
  overflow: hidden;
}
.totalblog h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 120px;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.section3instragram {
  margin-bottom: 50px;
}
.section3instragram h1 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 20px;
}
.section3instragram p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 21px;
  font-weight: 400;
  margin: auto;
}
.instaphoto img {
  width: 250px;
}
.instaphoto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
  gap: 0 20px;
}
.formsection {
  text-align: center;
  width: 79%;
  height: 340px;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./FlowerAsset/Rectangle\ 9.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 130px;
}
.emailsection {
  height: 52px;
  width: 500px;
  border-radius: 7px;
  border: none;
  font-size: 16px;
  padding-left: 7px;
  padding-top: 2px;
  margin-right: 20px;
}
.formsection h1 {
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  padding: 10px;
}
.formsection p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.footerpart {
  text-align: center;
  background: #111010;
  overflow: hidden;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerpart h1 {
  font-size: 48px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #ffffff;
}
.footerpart p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
}
.footerpart small {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
}

/*  */
